{
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"global-strict": false,
		"curly": [2, "multi"]
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"jsx": true,
		"modules": true,
		"objectLiteralShorthandMethods": true
	}
}